html{
    font-size: medium;
}

body {
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(200, 200, 200, 1);
    background-blend-mode: overlay;
    background-size: cover;
    background-image: url(https://avatanplus.com/files/resources/original/57570f8cc620a1552c14be0c.jpg);
}

#wrapper {
    margin: auto;
    text-align: center;
    color: black;
}

h1{
    font-size: 7em;
    font-family: 'Lobster', cursive;
}

p {
    text-align: center;
    font-size: 1.5em;
}

#addPoll {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
}

#addPollForm {
    text-align: center;
    margin: auto;
    padding: 10px;
}

#content {
    margin: auto;
}

#details {
    margin: auto;
    text-align: center;
}

#myChart {
    margin: auto;
    text-align: center;
}

.poll {
    width: 180px;
    height: 110px;
    margin: 10px;
    padding: 16px;
    color: #fff;
    vertical-align: top;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
}

.poll.off {
    background-color: #c8cccf;
}

.poll span {
    display: block;
}

.pollName {
    text-align: center;
    font-weight: bold;
    margin-bottom: 12px;
}

.removePoll {
    margin-top: 12px;
    text-align: center;
}

a {
    text-decoration: none;
    text-shadow: 2px 2px 4px #000000;
    font-size: 1.5em;
}

a:hover {
    color: #101010;
    text-shadow: none;

}

.poll a:hover {
    text-decoration: underline;
}

#poll_question{
    width: 20%;
    min-width: 30em;
    margin: auto;
}

#field{
    width: 20%;
    min-width: 20em;
    margin: auto;
}

.input-group{
    margin-top: 0.5em;
}

.btn-info, .btn-success{
    margin-top: 0.7em;
}